body {
    font-family: Tahoma, sans-serif;
  }
  
  table, td {
    border: 1px solid gray;
  }
  
  td {
    margin: 0;
    width: 180px;
    padding: 3px;
  }
  
  th {
    background-color: lightblue;
  }